FLASK_PORT=8000

SQLITE_DB_NAME=uiuc-chat-backend-sqlite.db

# Qdrant (Vector DB)
QDRANT_URL=localhost:6333
QDRANT_COLLECTION_NAME=uiuc-chat
# QDRANT_API_KEY=<TODO if you want one, or leave it commented for no API key.>

# Object Storage: You can use either Minio or S3. Below are the variables for Minio.
MINIO_URL=localhost:9001
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Custom Minio credentials
MINIO_ROOT_USER=your_custom_username
MINIO_ROOT_PASSWORD=your_secure_password

# Additional Minio configuration 
MINIO_ENDPOINT=http://minio:9000  # Internal Docker network endpoint
MINIO_BUCKET_NAME=your-bucket-name  # Name of the bucket to use for storage

# S3 Configuration Variables
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION=
# AWS_BUCKET_NAME=

# Optional services. Adds functionality if you want it, but not necessary.
# NOMIC_API_KEY=
# POSTHOG_API_KEY=
# SENTRY_DSN=
# EMAIL_SENDER=
# N8N_URL=

# To include a SQL DB as part of your documents:
# POI_SQL_DB_NAME=