# REQUIRED OPENAI KEY
VLADS_OPENAI_KEY=""


MINIO_URL=http://minio:9001  # matches the docker-compose minio service
AWS_ACCESS_KEY_ID=minioadmin  # ensure these match your minio credentials
AWS_SECRET_ACCESS_KEY=minioadmin
NEXT_PUBLIC_S3_ENDPOINT=http://localhost:9001
S3_BUCKET_NAME=uiuc-chat
AWS_REGION="us-east-1"
AWS_SECRET=""

# Replace ${INGEST_REDIS_PASSWORD} with your actual local Redis password if needed.

# TODO: simplify to a single set of ENV vars. It's redundant.
REDIS_URL="redis://default:${INGEST_REDIS_PASSWORD}@redis:6379"
REDIS_PASSWORD="${INGEST_REDIS_PASSWORD}"
# If you're running PostHog locally, adjust the host (otherwise leave as is).
NEXT_PUBLIC_POSTHOG_HOST="http://localhost:6006"
NEXT_PUBLIC_POSTHOG_KEY=""

NEXT_PUBLIC_SIGNING_KEY=""

# Ollama: if running locally, update the URL. Otherwise, leave it.
OLLAMA_SERVER_URL="http://localhost:11434"

QDRANT_API_KEY=""
QDRANT_COLLECTION_NAME="uiuc-chat"
QDRANT_URL="http://qdrant:6333/"

# Use the local Flask backend (flask-app) running on port 8000.
RAILWAY_URL="http://flask-app:8001"


# Connect to your locally hosted Supabase
SUPABASE_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
SUPABASE_URL="postgres://postgres.your-tenant-id:your-super-secret-and-long-postgres-password@supabase-db:5432/postgres"


# Keycloak auth (must match the keycloak service in docker-compose.yaml, and backend .env)
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_HOSTNAME=keycloak
