[submodule "supabase"]
	path = supabase
	url = https://github.com/supabase/supabase
[submodule "ic_crawlee"]
	path = ic_crawlee
	url = https://github.com/UIUC-Chatbot/crawlee.git
[submodule "ai-ta-frontend"]
	path = ai-ta-frontend
	url = https://github.com/CAII-NCSA/uiuc-chat-frontend.git
[submodule "keycloak-docker"]
	path = keycloak-docker
	url = https://github.com/UIUC-Chatbot/keycloak-docker
