[submodule "supabase"]
	path = supabase
	url = https://github.com/supabase/supabase
[submodule "ic_crawlee"]
	path = ic_crawlee
	url = https://github.com/UIUC-Chatbot/crawlee.git
[submodule "uiuc-chat-frontend"]
	path = uiuc-chat-frontend
	url = https://github.com/CAII-NCSA/uiuc-chat-frontend.git