services:
  redis:
    image: redis:latest
    restart: always
    container_name: redis
    ports:
      - 6379:6379
    networks:
      - my-network
    volumes:
      - redis-data:/data

  qdrant:
    image: qdrant/qdrant:v1.9.5
    restart: always
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    volumes:
      - ./qdrant_data:/qdrant/storage
      - ./qdrant_config.yaml:/qdrant/config/production.yaml # Mount the config file directly as a volume
    networks:
      - my-network
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "-H",
          "Authorization: Bearer qd-SbvSWrYpa473J33yPjdL",
          "http://localhost:6333/health"
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  minio:
    image: minio/minio:RELEASE.2024-06-13T22-53-53Z
    # Customize env vars in .env file
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data
    ports:
      - 9000:9000 # Console access
      - 9001:9001 # API access
    networks:
      - my-network
    volumes:
      - minio-data:/data

  flask_app:
    build: . # Directory with Dockerfile for Flask app
    # image: kastanday/ai-ta-backend:gunicorn
    ports:
      - "${FLASK_PORT}:8000"
    expose:
      - "${FLASK_PORT}"
    volumes:
      - ./db:/usr/src/app/db # Mount local directory to store SQLite database
    networks:
      - my-network
    depends_on:
      - qdrant
      - redis
      - minio

  worker:
    build: . # Use the same build context as the Flask app
    command: python ai_ta_backend/redis_queue/worker.py
    networks:
      - my-network
    depends_on:
      - redis
    

# declare the network resource
# this will allow you to use service discovery and address a container by its name from within the network
networks:
  my-network: {}

volumes:
  redis-data: {}
  qdrant-data: {}
  minio-data: {}
