click==7.1.2
Flask==2.3.2
"protobuf<=3.20"
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
python-dotenv
flask-cors
qdrant-client
mkdocs
mkdocstrings[python]
mkdocs-material
sqlalchemy
qdrant-client
langchain
openai
supabase
SQLAlchemy
boto3
PyMuPDF
unstructured
tabulate
pdf2image
typing-inspect==0.8.0
typing_extensions==4.5.0
tiktoken
pysrt
docx2txt
arize[AutoEmbeddings, LLM_Evaluation]
coursera-dl @ git+https://github.com/raffaem/coursera-dl.git
