click
Flask==2.3.2
protobuf<=3.20
gunicorn==20.0.4
itsdangerous
Jinja2
MarkupSafe
Werkzeug
python-dotenv
flask-cors
qdrant-client
mkdocs
mkdocstrings[python]
mkdocs-material
sqlalchemy
qdrant-client
langchain
openai
supabase
SQLAlchemy
boto3
PyMuPDF
unstructured
tabulate
pdf2image
typing-inspect==0.8.0
typing_extensions==4.5.0
tiktoken
pysrt
docx2txt
coursera-dl @ git+https://github.com/raffaem/coursera-dl.git

# Arize disabled for now because it's a huge import
# arize[AutoEmbeddings, LLM_Evaluation]
